.idea
.git
.gitlab-ci_FromRoberio.yml
.gitlab-ci_OLD-GOOD.yml
.gitlab-ci_goodV1.yml
.gitlab-ci_goodV2.yml
.gitlab-ci_goodV3.yml
.gitlab-ci_playGround.yml
node_modules
tmp-Dockerfile.production
tmp-Dockerfile_v1
tmp-Dockerfile_v2
tmp-test1.sh
.log
Dockerfile_goodCopy
docker-compose.yml
_lib_UofC_Template.js
revealingPrototypePatternExample.js
UofCNameItApp_Template.js
debug.log
ucautomation.iml
#tests
.jshintrc
grunt
GruntFile.js